body {
  background: #ffff;
  padding-bottom: 13px;
  font-family: "Mulish" !important;
  padding-top: 12px;
}
* {
  box-sizing: border-box;
}
.container-blok {
  width: 100%;
  max-width: 1920px;
}
.container-blok__field_user--blok {
  padding-top: 2px;
  width: 100%;
  max-width: 1920px;
}
.container-blok__container {
  width: 100%;
  max-width: 1920px;
  display: flex;
}
.container-blok__blok {
  width: 100%;
  max-width: 227px;
}
.container_user {
  width: 100%;
  max-width: 1920px;
}
.container_user__box {
  width: 100%;
  max-width: 158px;
  position: relative;
}

.container-user__blok {
  width: 100%;
  max-width: 1700px;
  display: flex;
  justify-content: space-between;
}
.container_user__user_log {
  padding-top: 15px;
  padding-left: 3px;
  padding-bottom: 20px;
}
.container_user__logo {
  width: 100%;
  max-width: 150px;
}
.container_user__video {
  padding-bottom: 4px;
  width: 100%;
  max-width: 250px;
}
.container_user__video_one {
  margin-top: 75px;
  padding-bottom: 4px;
  width: 100%;
  max-width: 250px;
}
.container_user__video_next {
  margin-top: 71px;
  padding-bottom: 4px;
  width: 100%;
  max-width: 250px;
  max-height: 103px;
}
.container_user__icons_time {
  position: absolute;
  top: 143px;
  right: 15px;
  width: 100%;
  max-width: 31px;
}
.container_user__icons_tim {
  position: absolute;
  top: 192px;
  right: 15px;
  width: 100%;
  max-width: 31px;
}
.container_user__title {
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 12px;
  word-spacing: 1px;
}
.container_user__next--title {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  word-spacing: 1px;
}
.container_user__titles {
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 12px;
  word-spacing: 1px;
}

.container_user__text {
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 16px;
  text-align: left;
  color: #c2c2c2;
}

.container_user__text .container_user__span {
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 16px;
  padding-left: 21px;
  color: #c2c2c2;
}

.container_user__string {
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 16px;
  color: #c2c2c2;
}

.container_user__string .container_user__span {
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 16px;
  padding-left: 6px;
  color: #c2c2c2;
}
.container_user__str {
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 16px;
  color: #c2c2c2;
}

.container_user__str .container_user__span {
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 16px;
  padding-left: 17px;
  color: #c2c2c2;
}
.container_user__stri {
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 16px;
  color: #c2c2c2;
}
.container_user__stri .container_user__span {
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 16px;
  padding-left: 17px;
  color: #c2c2c2;
}
.container_user__next--text {
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 16px;
  text-align: left;
  color: #c2c2c2;
}
.container_user__next--text .container_user__span {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  text-align: left;
  color: #c2c2c2;
  padding-left: 153px;
}
.container_user__bottom--position {
  position: relative;
}
.container_user__bottom {
  position: absolute;
  top: 22px;
  width: 100%;
  max-width: 84px;
}
.container_user__bottom--gorezont {
  position: absolute;
  top: 33px;
  left: 175px;
  width: 100%;
  max-width: 84px;
}
.container_user .container-blok__user--but {
  background: none;
  border: 0;
  padding: 0;
}
.container-blok__but--user {
  border: 0;
  background: none;
  padding: 0;
}
.container-blok__field_user--box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1900px;
}
.container-blok__field_user--container {
  width: 81%;
  display: flex;
  justify-content: space-between;
}
.container_user__next--blok {
  width: 100%;
  max-width: 1665px;
  display: flex;
  justify-content: space-between;
}
.container_user__next--box {
  width: 100%;
  max-width: 333px;
  position: relative;
}
.container_user__next--log {
  padding-top: 33px;
  padding-left: 3px;
  padding-bottom: 20px;
}
.container_user__next--video {
  padding-bottom: 4px;
  width: 100%;
  max-width: 529px;
}
.container_user__one--video {
  padding-top: 74px;
  padding-bottom: 4px;
  width: 100%;
  max-width: 529px;
}
.container_user__two--video {
  padding-top: 74px;
  padding-bottom: 4px;
  width: 100%;
  max-width: 529px;
}
.container-blok__field_user {
  padding-top: 6px;
}
.container-blok__hamburger_menu {
  width: 100%;
  max-width: 57px;
}
.container-blok__logo {
  padding-left: 39px;
}
form {
  position: relative;
  width: 830px;
  margin: 0 auto;
}
.container-blok__button--icon {
  border: none;
  outline: none;
  background: no-repeat;
  border-radius: 84px;
  height: 44px;
  width: 55px;
  position: absolute;
  top: -1px;
  right: 284px;
}
.container-blok__field {
  border: none;
  width: 58%;
  height: 36px;
  background: #ebebeb;
  padding-left: 15px;
  color: #bbb4b4;
  border-radius: 20px;
  margin-left: 62px;
}
input::-webkit-input-placeholder {
  color: #b6c0a5;
}
input:-moz-placeholder {
  color: #b6c0a5;
}
.menu__toggle {
  opacity: 0;
}
.container_blok__navigation_button {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 261px;
  margin-bottom: 18px;
  margin-right: 14px;
}
.container_blok__button {
  width: 100%;
  max-width: 246px;
  display: flex;
  justify-content: space-between;
  margin-right: 41px;
}
.container_blok__button--img {
  width: 100%;
  max-width: 24px;
}
.container_blok__but--img {
  width: 100%;
  max-width: 37px;
}

.container_blok__button--element {
  border: none;
  background: none;
}
.container_blok__button--icons {
  border: none;
  background: none;
  position: relative;
}

.container_blok__icon {
  position: absolute;
  top: 10px;
  right: 3px;
  padding: 5px;
  background: red;
  border-radius: 50%;
  font-size: 10px;
  padding: 3px;
  width: 17px;
  height: 17px;
  color: #fff;
}
.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 31px;
  left: 32px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.container-blok__btn_logo {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 208px;
  padding-bottom: 13px;
}
.container-blok__blok {
  padding-left: 30px;
}
.container-blok__navigation_box {
  margin-top: 12px;
}
.cotainer-blok__menu_box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: 208px;
  min-height: 121px;
  margin-top: 19px;
}
.menu__item {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  width: 100%;
  max-width: 194px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #898989;
}
.menu__img--one {
  display: none;
}
.menu__item:hover .menu__img--one {
  display: block;
}
.menu__item:hover .menu__img--two {
  display: none;
}
.menu__item:hover .text {
  color: #eb8282;
}
.text {
  width: 100%;
  max-width: 144px;
}
.cotainer-blok__menu_blok {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: 208px;
  min-height: 338px;
  margin-top: 29px;
}
.menu__item_icon {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 194px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #898989;
}

.menu__img--one {
  display: none;
}
.menu__item_icon:hover .menu__img--one {
  display: block;
}
.menu__item_icon:hover .menu__img--two {
  display: none;
}
.menu__item_icon:hover .text {
  color: #eb8282;
}
.container_blok__navigation_main--links {
  padding-left: 32px;
  margin-top: 29px;
}
.links_contents {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  padding-left: 8px;
}
.cotainer_blok__menu--next_box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: 208px;
  min-height: 338px;
  margin-top: 33px;
}
.cotainer-blok__menu_next-item {
  margin-top: 107px;
  width: 100%;
  max-width: 208px;
}
.container_user__user--log {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 320px;
  margin-top: 50px;
}
.container_user__next--blok {
  width: 100%;
  max-width: 1700px;
  display: flex;
  justify-content: space-between;
}
.container_user__next--jar {
  width: 100%;
  max-width: 158px;
  position: relative;
}
.container_user__logo--text {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 20px;
  color: #c2c2c2;
  padding: 12px;
}
.container_user__next--screen {
  margin-top: 16px;
  padding-bottom: 8px;
  width: 100%;
  max-width: 250px;
  max-height: 103px;
}
.container_user__next--icons_time {
  position: absolute;
  top: 92px;
  right: 15px;
  width: 100%;
  max-width: 31px;
}
.container_user__next--botton {
  position: absolute;
  top: -30px;
  left: 12px;
  width: 100%;
  max-width: 84px;
}
.container_user__position {
  position: relative;
}
.container_user__stily--button {
  width: 100%;
  max-width: 114px;
  border-radius: 19px;
  border: none;
  background: #ff0000;
  line-height: 26px;
  position: absolute;
  top: -28px;
  left: 42px;
}
.container_user__text--but {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  color: #ffff;
}
.container_user__button--img {
  width: 100%;
  max-width: 24px;
}
.container-user__user--but {
  background: none;
  padding: 0;
  border: 0;
}
.container-user__but--user {
  background: none;
  padding: 0;
  border: 0;
}
.container_user__next--string {
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 16px;
  padding-left: 1px;
  color: #c2c2c2;
}
.container_user__next--string .container_user__span {
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 16px;
  padding-left: 5px;
  color: #c2c2c2;
}
